<footer>
    <section class="footer container p-3">
        <div class="row justify-content-between">
            {% if page.layout != "home" %}
            <div class="col text-start filter-grey my-2"><a href="{{ site.baseurl }}/"><img src="{{ '/assets/images/logos/wbbm-logo-horizontal.svg' | relative_url}}" alt="Who Built Bryn Mawr" id="footer-wbbm-logo" style="width:18rem;"></a></div>
            {% endif %}
            <div class="col text-start text-md-end">
                <a href="https://www.brynmawr.edu/" target="_blank"><img src="{{ '/assets/images/logos/bryn-mawr-logo-simplified-left-aligned-reverse-web.svg' | relative_url}}" alt="Bryn Mawr College Logo" style="width:14rem"></a>
            </div>
        </div>
    </section>
</footer>