<nav class="navbar">
    <a class="navbar-brand" href="{{ '/current/' | relative_url }}">
        <img src="{{ '/assets/images/logos/WBBM-P4.png' | relative_url}}" width="100" >
            Disoriented: The First Asian Students</a>
    <ul class="nav">
        {% for item in site.data.menu %}
            {% if item.phase == page.phase %}
                {% for i in item.navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ i.url | relative_url }}">{{ i.title }}</a>
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </ul>
    
</nav>
